<!DOCTYPE html>
<html>
    <head>
        <title>Wanderlust</title>
        
    </head>
    <body>
        <p><%= successMsg%></p>
        <p><%= errorMsg%></p>
       <h1><%= name%></h1>
    </body>
</html>